<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="x_pos" default="0.25"/>
    <arg name="y_pos" default="0.25"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="open_rviz" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find asm)/include/test_course_1.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
    <!-- Running topic tools is required because the gazebo imu plugin publishes on /imu and the laser scan only listens to /imu/data! -->
    <!-- <node pkg="topic_tools" type="relay" name="imu_topic_tools" args="/imu /imu/data" /> -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <!-- <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher" output="screen" /> -->
    <!-- <node pkg="polar_scan_matcher" type="psm_node" name="polar_scan_matcher" output="screen" /> -->
    <!-- <node pkg="plke" type="scrubber.py" name="scrubber" output="screen" /> -->
    <!-- <node pkg="plke" type="pose_est.py" name="pose_est" output="screen" /> -->
    <group if="$(arg open_rviz)"> 
        <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find plke)/rviz/turtle_test_1.rviz"/>
    </group>

</launch>